# PhpStorm
.idea

# NetBeans
nbproject

# Zend Studio
.buildpath
.project
.settings

# Composer
composer.phar
composer.lock
/vendor
/.vagrant

# PHPUnit
phpunit.phar
/phpunit.xml
tests/_output/*
tests/_support/_generated

# Macintosh
.DS_Store

# Windows
Thumbs.db